$mainColor: #006699;
$mainBackgroundColor: #ffffff;

$sizeS: 5px;
$sizeM: 10px;

$spadeCard: "@/css/images/spade.png";
$blueDiamondCard: "@/css/images/blueDiamond.png";
$clubCard: "@/css/images/club.png";
$heartCard: "@/css/images/heart.png";

$diamondColor: #2A52BE;
$clubColor: #008000;
$spadeColor: #000000;
$heartColor: #FF0000;