.headerMenuButton {
  &__basicButton {
    background-color: #cb2d06;
    width: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Roboto;
    &:hover {
      cursor: pointer;
      filter: brightness(85%);
      transition: 0.5s;
    }

  }
  &__userMenu{
    background-color: #cb2d06;
    border: grey solid 1px;
    width: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Roboto;
    &:hover {
      cursor: pointer;
      filter: brightness(85%);
      transition: 0.5s;
    }
  }

}


